<div class="main-card mb-3 card">
    <div class="card-header">
        Rewards Processed Summary        
                
        <div class="btn-actions-pane-right">
            <div role="group" class="btn-group-sm btn-group">
                <button class="active btn btn-focus">
                    2022
                                    
                </button>
                <button class="btn btn-focus">
                    2023
                                    
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        Payment Date
                                            
                    </th>
                    <th class="text-center">
                        Payment Mode
                                            
                    </th>
                    <th class="text-center">
                        Payment Amount
                                            
                    </th>

                    <th class="text-center">
                        Transaction ID
                                            
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center text-muted">
                        {{ "2019-09-01"|date("d-M-Y") }}
                    </td>
                    
                    <td class="text-center">
                        Paypal
                                                
                    </td>
                    <td class="text-center" style="width: 150px;">
                        $ 10.00 USD
                                                
                    </td>
                    <td class="text-center">
                        TXN_XXXXXXXXXXXX
                                                
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
