<div class="logo-container">
	<div class="logo">
		<img src="/assets/images/logo.png" class='img-fluid' alt="" srcset=""></div>
</div>
<div class="body">
<img class='smilee' src="/img/smiliee.png" alt="" srcset="">
<span class="congrats">Congratulations!!</span> You have successfully activated your account with us and we are delighted to have you as new member of our turn2Opinion Community. Increase your money rewards quickly, take a new available surveys for you.
</div>
<div class="mb-3"></div>
<button onclick="goto(this)" target="/user/dashboard" class="btn btn-primary fr">Continue</button>