<!DOCTYPE html>
<html lang="en">
	{% include "comp/head.twig" %}
    <style>
    body{
        background-color: #444;
        color: #ccc;
    }
    .main-content{
        margin-top: 150px;
        min-height:100vh;
    }
    .center-text{
        max-width:500px;
        margin:0 auto;
        line-height:2;
    }
    .center-text h1{
     color:#fff;
     text-align:center;
     font-size:20rem;
    }
    </style>
	<body>
		<div id="page">
			{% include "comp/navbar.twig" %}
			<div class="main-content">
				<div class="center-text">
                    <h1>404</h1>
                        <p>The page you requested is currently not available. Please click a correct link to proceed further. You may go back to homepage by clicking <a href="/">here</a>. Thanks for your co-operation.</p>
                </div>
			</div>
            {% include "comp/footer.twig" %}
		</div>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NFKJD7"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	</body>
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {},
Tawk_LoadStart = new Date();
(function () {
var s1 = document.createElement("script"),
s0 = document.getElementsByTagName("script")[0];
s1.async = true;
s1.src = 'https://embed.tawk.to/6235adc6a34c2456412bce27/1fugqtkbu';
s1.charset = 'UTF-8';
s1.setAttribute('crossorigin', '*');
s0.parentNode.insertBefore(s1, s0);
})();
	</script>
</html>
