<!doctype html>
<html lang="en">

	{% include "dbcomp/head.twig" %}
	<body>
		<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
			{% include "dbcomp/header.twig" %}
			<div class="app-main">
				{% include "dbcomp/sidebar.twig" %}
				<div class="app-main__outer">
					<div class="app-main__inner">
						{% include "dbcomp/title.twig" %}
						{% include "dbcomp/tabs.twig" %}
						<div class="tabs-animation">
							<div class="row">
								<div class="col-sm-12 col-lg-4">
									{% include "dbcomp/profileStatus.twig" %}
									{% include "dbcomp/graph.twig" %}
								</div>
								<div class="col-sm-12 col-lg-8">

									{% include "dbcomp/prostat.twig" %}
								</div>
							</div>
						</div>
						<div class="mb-3"></div>
						<div class="row">
							<div class="col-sm-12">{% include "dbcomp/surveys.twig" %}</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="app-drawer-overlay d-none animated fadeIn"></div>
		{% if (user.terms |length)==0  %}
			<div class="forced-popup">
				<div class="popup-body">
				{{user.terms|json_encode}}
					{% include "dbcomp/terms.twig" %}
				</div>
			</div>
		{% endif %}
		<script type="text/javascript" src="/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
	</body>

</html>
