<!DOCTYPE HTML>
<html>

	{% include "comp/head.twig" %}
	<body id="home">
		<div id="page">
			{% include "comp/navbar.twig" %}
			{% include "comp/slider.twig" %}			
			{% include "comp/counters.twig" %}
			{% include "comp/howItWork.twig" %}
			{% include "comp/whoWeAre.twig" %}
			{# {% include "comp/takeacourse.twig" %} #}
			{# {% include "comp/project.twig" %} #}
			{% include "comp/steps.twig" %}
			{% include "comp/testimonials.twig" %}
			{# {% include "comp/blog.twig" %} #}
			{% include "comp/started.twig" %}
			{% include "comp/footer.twig" %}
		</div>
		<div class="gototop js-top">
			<a href="#" class="js-gotop">
				<i class="icon-arrow-up"></i>
			</a>
		</div>
		{% include "comp/scripts.twig" %}
		<script src="/js/custom.js"></script>
	</body>

</html>
