<!DOCTYPE html>
<html lang="en">
	{% include "comp/head.twig" %}
	<link rel="stylesheet" href="/css/custom.css">
	<body>
		<div id="page" class='policy'>
		
			{% include "comp/navbar.twig" %}
			<div class="mt"></div>
			<div class="main-content">
				<div class="center-text">
					{% include "comp/"~page.name~".twig" %}
				</div>
			</div>
			{% include "comp/footer.twig" %}
		</div>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NFKJD7"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	</body>
			{% include "comp/scripts.twig" %}

	<script src="/js/custom.js"></script>
	<script src="/js/jquery-3.6.0.min.js"></script>
	{# <script src="/js/customcomponent.js"></script> #}
</html>
