<!DOCTYPE html>
<html lang="en">
	{% include "comp/head.twig" %}
	<link rel="stylesheet" href="/css/custom.css">
	<body>
		<div id="page">
			{% include "comp/navbar.twig" %}
			<div class="mt"></div>
			<div class="main-content">
				<div class="center-text">
					{% include "comp/"~page.name~".twig" %}
				</div>
			</div>
			{% include "comp/footer.twig" %}
		</div>
	</body>
	<script src="/js/custom.js"></script>
</html>
