<!doctype html>
<html lang="en">
	{% include "dbcomp/head.twig" %}
	<link rel="stylesheet" href="https://unpkg.com/js-datepicker@5.18.0/dist/datepicker.min.css">
	<link rel="stylesheet" href="/css/survey.css">
	<link href="/css/form.css" rel="stylesheet">
	<body>
		<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
			<div class="container">
				{% include "dbcomp/questions.twig" %}
			</div>
		</div>
		<div class="app-drawer-overlay d-none animated fadeIn"></div>
		<div class="forced-popup" style='display:none'>
			<div class="popup-body"></div>
		</div>
		<script src="/dashboard.js"></script>
		<script src="/assets/scripts/form-checkbox.js"></script>
		<script src="https://unpkg.com/js-datepicker@5.18.0/dist/datepicker.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
		<script src="/assets/scripts/survey.js"></script>
		<script src="/assets/scripts/profile.js"></script>
		<script type="text/javascript" src="/assets/scripts/script.js"></script>
	</body>

</html>
