<!doctype html>
<html lang="en">

    {% include "dbcomp/head.twig" %}
    <link href="/css/form.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet" />
    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
            {% include "dbcomp/header.twig" %}
            <div class="app-main">
                {% include "dbcomp/sidebar.twig" %}
                <div class="app-main__outer">
                    <div class="app-main__inner">
                    {% include "dbcomp/" ~ page ~ ".twig" %}
                    {# {% include "dbcomp/survey.twig" %} #}
                    </div>
                </div>
            </div>
        </div>
        <div class="app-drawer-overlay d-none animated fadeIn"></div>
        <script type="text/javascript" src="/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
        <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script src="/assets/scripts/filepond.min.js"></script>
        <script>

        </script>

    </body>
</html>
