<p>Dear Team,</p>
<p>Panelist requested for account deletion in Turn2Opinion Panel. Please refer the details below:</p>    
<table>
    <tr>
        <th>UserID</th>
        <td>{{user.frid}}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <th>E-Mail</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>Panel</th>
        <td>Turn2Opinion</td>
    </tr>
</table>
<p>
    In case, you have any questions. Please login to panel for more details.
</p>