<p>Dear Team,</p>
<p>There is a new panel list registered in Turn 2 Opinion. Please refer the details below:</p>    
<table>
    <tr>
        <th>UserID</th>
        <td>{{user.frid}}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <th>E-Mail</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>Panel</th>
        <td>Turn2Opinion</td>
    </tr>
</table>
