<p>Dear Team,</p>
<p>We have received a request for quote from website Turn 2 Opinion, The details are as below:</p>    
<table>
    <tr>
        <th>Name</th>
        <td>{{quote.name}}</td>
    </tr>
    <tr>
        <th>E-Mail</th>
        <td>{{quote.email}}</td>
    </tr>
    <tr>
        <th>Company</th>
        <td>{{quote.company}}</td>
    </tr>
    <tr>
        <th>Message</th>
        <td>{{quote.message}}</td>
    </tr>
</table>