<p>
    Dear {{user.fn}},
</p>
<p>
    Thanks for using our panel and share your opinion for research. Please click the link below to confirm your request to delete your account.
</p>
<br>
<p>
    <a href="{{link}}">{{link}}</a>
</p>
<p>
    {# We have received your account deletion request. Our Team will take 3 - 5 days to check your account and proceed for the process. #}
</p>
<p>
    You will get an acknowledgement once your account gets removed from our panel.
</p>
<p>
    Please note: You cannot reactivate your account or create another account for 3 months after deletion.
</p>