<div class="main-card mb-3 card">
    <div class="card-header">
        Rewards Summary
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <tr>
                <th>
                    Current Rewards   
                </th>
                <td>
                    {{user.points}} Points
                </td>
            </tr>
            <tr>
                <th>
                    Conversion
                        
                </th>
                <td>
                    $ {{user.points / conversion}} (USD)
                        
                </td>
            </tr>
            <tr>
                <th>
                    Needed reward points for payout
                    
                </th>
                <td>
                    {{threshold - user.points}} Points
                </td>
            </tr>
        </table>
    </div>
</div>
