{% import "macro/form1.twig" as form %}
<div class="login-html">
	<a class="fa fa-times" onclick='form.hide()'></a>
	<div class="message">Join us free today !!!
	</div>
	<input id="tab-1" type="radio" name="tab" class="sign-in" {% if (user.fn is not defined) %} checked {% else %} {% endif %}><label for="tab-1" class="tab">Sign In</label>
	<input id="tab-2" type="radio" name="tab" class="sign-up" {% if (user.fn is defined) %} checked {% else %} {% endif %}><label for="tab-2" class="tab">Sign Up</label>
	<div class="login-form">
		{% include "comp/forms/login.twig" %}
		{% include "comp/forms/signup.twig" %}
	</div>
</div>
<script>
	const pagename = "signup";{% if user.fn is defined %}
	function  socialValidate(){
elm = document.querySelector(".sign-up-htm");
flds = elm.querySelectorAll("[name]");
blankflds = ["gender"];
for (i = 0; i < flds.length; i ++) {
	fld=flds[i];
if(!("validity" in fld))continue;
if (!fld.validity.valid)
fld.value = '';

if (fld.value == '')
blankflds.push(fld.name);
}
fldnames={
	fn:"First Name",
	ln:"Last Name",
	email:"Email ID",
	phone:"Phone Number",
	gender:"Gender"
}
message="";
for (let index = 0; index < blankflds.length; index++) {
	const fld = blankflds[index];
	if(fldnames[fld]!==undefined)message+=`<li> ${fldnames[fld]}</li>`;	
}
popup.show(`<h2><i class='fa fa-exclamation-triangle'></i> Some Information Required</h2><p>We require you to fill the information listed below to proceed. Please fill them and proceed to signup.</p><ol>${message}</ol><button onclick='popup.close()' class='btn btn-primary fr'>Ok</button>`);
}
{% endif %}
</script>
