<p>We use different types of cookies to optimize your experience on our website. Click on the categories below to learn more about their purposes. You may choose which types of cookies to allow and can change your preferences at any time. Remember that disabling cookies may affect your experience on the website. You can learn more about how we use cookies by visiting our Cookie Policy and Privacy Policy.</p>
<div class="cookie-item">	
<input type="checkbox" id="essential" checked=true value=1>
<h3>
	<label for="essential">Essentials</label>
</h3>
<div class="description">
	<p>These cookies are necessary to the core functionality of our website and some of its features, such as access to secure areas.</p>
	<p>Below full details for Essentials:</p>
	<table class='tbl-responsive table' cellspacing="0" cellpadding="7">
		<tbody>
			<tr>
				<td>
					<p>
						<strong>Name</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Purpose</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Type</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Expires In</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>connection.sid</p>
				</td>
				<td>
					<p>Stores authentication and authorization of user after login. This variable is used to provide personalized user experience</p>
				</td>
				<td>
					<p>http_cookie</p>
				</td>
				<td>
					<p>30 days / Logout</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>twk_idm_key,</p>
					<p>TawkConnectionTime,</p>
					<p>twk_uuid_XXXX</p>
				</td>
				<td>
					<p>Used to provide chat support to the respondent live while working. These cookies are set by a third party but chat feature is totally dependent on this so it cannot be ignored</p>
				</td>
				<td>
					<p>http_cookie</p>
				</td>
				<td>
					<p>Managed by third party</p>
					<p>(Tawk.to)</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Google_RECAPTCHA</p>
				</td>
				<td>
					<p>Name of variable managed by google policy and is managed by google and it&rsquo;s subsidaries. This is used for spam protection and robot detection</p>
				</td>
				<td>
					<p>http_cookie</p>
				</td>
				<td>
					<p>Managed by third party (Google)</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>VisitorInfo*</p>
				</td>
				<td>
					<p>These cookie are used by Youtube. We have used Youtube video to provide infographics, tutorials and informative material in form of videos.</p>
				</td>
				<td>
					<p>http_cookie</p>
				</td>
				<td>
					<p>Managed by Third party (Youtube)</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<div class="cookie-item">	
<input type="checkbox" name="performance" id="performance">
<h3>
	<label for="performance">Performance and Functionality</label>
</h3>
<div class="description">
	<p>These cookies are used to enhance the performance and functionality of our websites but are nonessential to their use. However, without these cookies, certain functionality (like videos) may become unavailable.</p>
	<p>Below full details for Performance and Functionality:</p>
	<table class='tbl-responsive table' cellspacing="0" cellpadding="7">
		<tbody>
			<tr>
				<td>
					<p>
						<strong>Name</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Purpose</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Type</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Expires In</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>_hjSessionUser_XXXXXXX</p>
					<p>_hjFirstSeen</p>
					<p>_hjIncludedInSessionSample</p>
					<p>_hjSession_XXXXXXXX</p>
					<p>_hjIncludedInPageviewSample</p>
					<p>_hjAbsoluteSessionInProgress</p>
				</td>
				<td>
					<p>This cookie is used to proactive tracking of issues in the website and application before a visitor makes a remark.</p>
				</td>
				<td>
					<p>http_cookie</p>
				</td>
				<td>
					<p>Managed by Third party (Hotjar)</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>_GA*</p>
					<p>NID *</p>
					<p>IDE*</p>
					<p>ANID*</p>
				</td>
				<td>
					<p>These cookie are used by Google Analytics to provide us information about user&rsquo;s behaviour on our website and application.</p>
				</td>
				<td>
					<p>http_cookie</p>
				</td>
				<td>
					<p>Managed by Third party (Google)</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<div class="cookie-item">	
<input type="checkbox" name="advertising" id="advertising">
<h3>
	<label for="advertising">Advertising</label>
</h3>
<div class="description">
	<p>These cookies are used to make advertising messages more relevant to you. They prevent the same ad from continuously reappearing, ensure that ads are properly displayed for advertisers, and in some cases select advertisements that are based on your interests. We are currently not using these cookies</p>
</div>
</div>
<div class="cookie-item">	
<input type="checkbox" name="social_networking" id="social_networking">
<h3>
	<label for="social_networking">Social Networking</label>
</h3>
<div class="description">
	<p>These cookies enable you to share our website's content through third-party social networks and other websites. These cookies may also be used for advertising purposes.</p>
</div>
</div>
<div class="cookie-item">	
<input type="checkbox" name="unclassified" id="unclassified">
<h3>
	<label for="unclassified">Unclassified</label>
</h3>
<div class="description">
	<p>These are cookies that have not yet been categorized. We are in the process of classifying these cookies with the help of their providers.</p>
	<table class='tbl-responsive table' cellspacing="0" cellpadding="7">
		<tbody>
			<tr>
				<td>
					<p>
						<strong>Name</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Purpose</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Type</strong>
					</p>
				</td>
				<td>
					<p>
						<strong>Expires In</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>auth</p>
				</td>
				<td>
					<p>Auth token for autologin if user selects remember me on this computer&nbsp;</p>
				</td>
				<td>
					<p>html_local_storage</p>
				</td>
				<td>
					<p>persistent</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
