<style>
	span.strength {
		position: absolute;
		right: 7px;
		bottom: -7px;
		font-size: 13px;
		padding: 0 10px;
	}

	.group {
		position: relative;

	}
</style>
<div class="login-wrap">
	<div class="login-html" style='display:block'>
		<a class="fa fa-times" onclick='form.hide()'></a>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
		<label for="tab-1" class="tab">Forgot Password ?</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<form method="post" class="sign-in-htm" name="forgot">
				<p style="color:#fff;font-weight: 100;line-height: 20px;margin-top: 10px;font-size: 14px;">Please enter your registered E-Mail</p>
				<div class="group">
					<label for="email" class="label">E-Mail</label>
					<input id="email" name="email" type="email" class="input">
					<span id="StrengthDisp" class="badge displayBadge" style="margin:8px 80px"></span>
					<span class="strength"></span>
				</div>
				<div class="group" style='display:none'>
					<label for="security" data="securityque" class="label"></label>
					<input id="security" name="security" type="security" class="input">
					<span class="pwstatus"></span>
				</div>
				<div class="group" style="margin:30px;">
					<input type="submit" class="button" value="Next">
				</div>
			</form>
			<form method="post" class="sign-up-htm"></form>
		</div>
	</div>
</div>

