<div id="howItWorks"></div>
<div id="fh5co-explore" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>HOW IT WORKS?</h2>
				<p style='font-style:italic;text-transform:capitalize'>Quick and Easy Way to Join. We Pay You Cash for your opinion
																																		Joining is absolutely free !
				</p>
				<p>
					You earn your rewards by sharing your opinion on high value surveys and we process your rewards into
					<span>Cash via Paypal</span>
				</p>
			</div>
		</div>
	</div>
	<div class="fh5co-explore fh5co-explore1">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-5 animate-box">
					<img class="img-responsive" src="/images/dashboard.png" alt="work">
					<img class="img-responsive" src="/images/user-profile.png" alt="work">

				</div>
				<div class="col-md-4 col-md-pull-8 animate-box ">
					<h3>Journey from Free joining to Rewards Claiming:</h3>

					<p>Earn rewards for your unique perspective on a variety of survey topics, including brands, products, services and current trends! Our Global Market Leading brands want to know your opinions on their existing and upcoming products and services. Your quick and loyal opinion will make you to be our premium community Members and will lead you to earn rewards on every survey and poll completed.</p>
					<ul class="list-nav">
						{% for step in journey %}
							<li>
								{# <i class="icon-check2"></i> #}
								{{step}}
							</li>
						{% endfor %}
					</ul>
					<p style='text-align:center'>
						<a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774">
							<i class="icon-play"></i>
							Watch Video</a>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>