<div id="fh5co-project">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Showcase of A Finish Projects</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
													                            provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
	</div>
	<div class="container-fluid proj-bottom">
		<div class="row">
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<h3>Web Master</h3>
					<span>View Course</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="/images/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<h3>Virtual Assistant</h3>
					<span>View Course</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="/images/project-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<h3>Read Bible</h3>
					<span>View Course</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="/images/project-9.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<h3>Programming</h3>
					<span>View Course</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="/images/project-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<h3>Technician</h3>
					<span>View Course</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
				<a href="#"><img src="/images/project-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
					<h3>Photography</h3>
					<span>View Course</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="features">
				<div class="col-md-4 animate-box">
					<h4>We have coolest features of this course</h4>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
															                                there live the blind texts.
					</p>
				</div>
				<div class="col-md-4 animate-box">
					<h4>Great teachers that we have</h4>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
															                                there live the blind texts.
					</p>
				</div>
				<div class="col-md-4 animate-box">
					<h4>Steps by steps turorial session</h4>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
															                                there live the blind texts.
					</p>
				</div>
			</div>
			<div class="col-md-12 text-center animate-box">
				<p>
					<a class="btn btn-primary btn-lg btn-learn" href="#">Create A Free Course</a>
				</p>
			</div>
		</div>
	</div>
</div>
