<style>
	span.strength {
		position: absolute;
		right: 7px;
		bottom: -7px;
		font-size: 13px;
		padding: 0 10px;
	}

	.group {
		position: relative;

	}
</style>
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
		<label for="tab-1" class="tab">Set up your password</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<form method="post" class="sign-in-htm" name="setpass" action="/user/setpass">
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" name="pass" type="password" class="input">
					<span id="StrengthDisp" class="badge displayBadge" style="margin:8px 80px"></span>
					<span class="strength"></span>
				</div>

				<div class="group">
					<label for="cpass" class="label">Confirm Password</label>
					<input id="cpass" name="cpass" type="password" class="input" data-type="password">
					<span class="pwstatus"></span>
				</div>
				<div class="group" style="margin:30px;">
					<input type="hidden" name="id" value="<%= locals.id %>">
					<input type="submit" class="button" value="Save and Login">
				</div>
			</form>
			<form method="post" class="sign-up-htm"></form>
		</div>
	</div>
</div>
<script>

	let timeout;
let password = document.querySelector('[name=pass]');
let strengthBadge = document.getElementById('StrengthDisp');
let strength = document.querySelector(".strength");
let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')
function StrengthChecker(PasswordParameter) {
if (strongPassword.test(PasswordParameter)) {
strengthBadge.style.backgroundColor = "green";
// strength.style.color = "green";
strength.textContent = 'Strong';
} else if (mediumPassword.test(PasswordParameter)) {
strengthBadge.style.backgroundColor = 'yellow';
// strength.style.color = 'yellow';
strength.textContent = 'Average';
} else {
strengthBadge.style.backgroundColor = 'red';
// strength.style.color = 'red';
strength.textContent = 'Weak';
if (PasswordParameter.length > 0) {
password.style.borderColor = '';
}
}
}

password.addEventListener("input", () => {
strengthBadge.style.display = 'block';
clearTimeout(timeout);
timeout = setTimeout(() => StrengthChecker(password.value), 500);
if (password.value.length !== 0) {
strengthBadge.style.display != 'block';
} else {
strengthBadge.style.display = 'none';
}
});
</script>
