<div id="fh5co-started" style="background-image:url(/images/img_bg_2.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Lets Get Started</h2>
				<p>Be our community member and get rewarded with points and credit your paypal account after your loyal inputs.</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center">
				<label for="tab-2" class="btn btn-default btn-lg" onclick='window.scrollTo(0,0)' >Create a free Account now</label>
			</div>
		</div>
	</div>
</div>
