<div id="fh5co-started" style="background-image:url(/images/img_bg_2.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Lets Get Started</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
													                            provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center">
				<p>
					<a href="#" class="btn btn-default btn-lg">Create A Free Course</a>
				</p>
			</div>
		</div>
	</div>
</div>
