<div id="fh5co-steps">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Start A Course</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
													                            provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>

		<div class="row bs-wizard animate-box" style="border-bottom:0;">

			<div class="col-xs-3 bs-wizard-step complete">
				<div class="text-center bs-wizard-stepnum">
					<h4>Step 1</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">
					<p>Create A Free Course</p>
				</div>
			</div>

			<div
				class="col-xs-3 bs-wizard-step active">
				<!-- complete -->
				<div class="text-center bs-wizard-stepnum">
					<h4>Step 2</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">
					<p>Upload Content</p>
				</div>
			</div>

			<div
				class="col-xs-3 bs-wizard-step disabled">
				<!-- complete -->
				<div class="text-center bs-wizard-stepnum">
					<h4>Step 3</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">
					<p>Make Your Course Beautiful</p>
				</div>
			</div>

			<div
				class="col-xs-3 bs-wizard-step disabled">
				<!-- active -->
				<div class="text-center bs-wizard-stepnum">
					<h4>Step 4</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">
					<p>Start Making Money</p>
				</div>
			</div>
		</div>

	</div>
</div>
