<div id="fh5co-steps">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Steps to be a community member</h2>
				<p>Turn2Opinion research panel community provides a very simple and easy way to engage you as our new community member. You just need to follow a few small steps to be a part of our global community to earn rewards with free registration</p>
			</div>
		</div>

		<div class="row bs-wizard animate-box" style="border-bottom:0;">

			<div class="col-xs-3 bs-wizard-step complete">
				<div class="text-center bs-wizard-stepnum">
					<h4>Register</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">

					<p>Register with your Active email id and contact number.</p>
				</div>
			</div>

			<div
				class="col-xs-3 bs-wizard-step active">
				<!-- complete -->
				<div class="text-center bs-wizard-stepnum">
					<h4>Verify</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">
					<p>Check your mail and Phone and click on verification links to complete your registration</p>
				</div>
			</div>

			<div
				class="col-xs-3 bs-wizard-step disabled">
				<!-- complete -->
				<div class="text-center bs-wizard-stepnum">
					<h4>Access Surveys</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">
					<p>After Activating your account participate in available surveys and start sharing your ideas</p>
				</div>
			</div>

			<div
				class="col-xs-3 bs-wizard-step disabled">
				<!-- active -->
				<div class="text-center bs-wizard-stepnum">
					<h4>Get rewarded</h4>
				</div>
				<div class="progress">
					<div class="progress-bar"></div>
				</div>
				<a href="#" class="bs-wizard-dot"></a>
				<div class="bs-wizard-info text-center">
					<p>Acheive your threshold to claim the rewards via paypal</p>
				</div>
			</div>
		</div>

	</div>
</div>
