<div id="fh5co-explore" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Quick and Easy Way to Join. We Pay You Cash for your opinion
				Joining is absolutely free ! </h2>
				<p>
					You earn your rewards by sharing your opinion on high value Surveys and We process your rewards into Cash Via Paypal.
				</p>
			</div>
		</div>
	</div>
	<div class="fh5co-explore fh5co-explore1">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-5 animate-box">
					<img class="img-responsive" src="/images/dashboard.png" alt="work">
				</div>
				<div class="col-md-4 col-md-pull-8 animate-box">
					<div class="mt">
						<h3>We Want You To Learn English</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and
														                        Consonantia, there live the blind texts.</p>
						<ul class="list-nav">
							<li>
								<i class="icon-check2"></i>Far far away, behind the word</li>
							<li>
								<i class="icon-check2"></i>There live the blind texts</li>
							<li>
								<i class="icon-check2"></i>Separated they live in bookmarksgrove</li>
						</ul>
						<p>
							<a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774">
								<i class="icon-play"></i>
								Watch Video</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="fh5co-explore" class="fh5co-bg-section" style='background:#d7d7d7'>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Who we are</h2>
				<p>You will get the high pay-out regular surveys
				</p>
			</div>
		</div>
	</div>
	<div class="fh5co-explore">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-pull-1 animate-box">
					<img class="img-responsive" src="/images/about.png" alt="work">
				</div>
				<div class="col-md-7 animate-box">

					<div class='about'>

						<p>
							Turn2Opinion is a world wide Consumer and Business Community of Frequent Research. It is a platform which helps you to generate more and more revenues in high incentive rewards. You get the studies that are best fit for you. The more participation you do in the surveys, You will be able to earn more and more money.
						</p>
						<p>
							This is a very unique and fast earning site with a fairly low pay-out threshold of $15.
						</p>
						<p>
							Turn2Opinion is an interesting website and app that gives quite a lot of survey offers to earn where ever you are and access the surveys over mobile as well as on Laptop/Desktop & Tablets.
						</p>
						<p>
							You do not have to spend much time on being a member, as you will receive an email invitation, when there is a new survey available. So you do not have to login to the site to check yourself every time. It might however take you some time to reach. You can get paid in cash through PayPal or choose to get paid in gift cards.
						</p>
						<p>
							Turn2Opinion users make money by taking paid surveys about all different topics. Your input helps corporate business better serve consumers like you! Just Think: Businesses those need your opinions so that they can make products you’ll prefer more, and Companies are going to pay you. So, Turn2Opinion is the one stop solutions to earn extra income.
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
