<div id="fh5co-explore" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>HOW IT WORKS?</h2>
				<p style='font-style:italic;text-transform:capitalize'>Quick and Easy Way to Join. We Pay You Cash for your opinion
																																		Joining is absolutely free !
				</p>
				<p>
					You earn your rewards by sharing your opinion on high value surveys and we process your rewards into
					<span>Cash via Paypal</span>
				</p>
			</div>
		</div>
	</div>
	<div class="fh5co-explore fh5co-explore1">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-5 animate-box">
					<img class="img-responsive" src="/images/dashboard.png" alt="work">
					<img class="img-responsive" src="/images/dashboard.png" alt="work">

				</div>
				<div class="col-md-4 col-md-pull-8 animate-box ">
					<h3>Journey from Free joining to Rewards Claiming:</h3>

					<p>Earn rewards for your unique perspective on a variety of survey topics, including brands, products, services and current trends! Our Global Market Leading brands want to know your opinions on their existing and upcoming products and services. Your quick and loyal opinion will make you to be our premium community Members and will lead you to earn rewards on every survey and poll completed.</p>
					<ul class="list-nav">
						{% for step in journey %}
							<li>
								{# <i class="icon-check2"></i> #}
								{{step}}
							</li>
						{% endfor %}
					</ul>
					<p style='text-align:center'>
						<a class="btn btn-primary btn-lg popup-vimeo btn-video" href="https://vimeo.com/channels/staffpicks/93951774">
							<i class="icon-play"></i>
							Watch Video</a>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>
<div id="fh5co-explore" class="fh5co-bg-section" style='background:#d7d7d7'>

	<div class="row animate-box">
		<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
			<h2>Who we are</h2>
			<p style='font-style:italic'>Turn2Opinion welcomes you as our new panel members to take participate and share your  opinion and perspective to wide-ranging market research survey campaigns.
			</p>
		</div>
	</div>
	<div class="fh5co-explore">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-pull-1 animate-box">
					<div class="sticky">
						<img class="img-responsive" src="/images/about.png" alt="work">
					</div>
				</div>
				<div class="col-md-7 animate-box">

					<div class='about'>

				<p>We offer you no limit of earning surveys that need answering for brands, governments, agencies and institutions and you get paid for contributing to these surveys and polls.</p>
				<p>We reward our members with a choice of cash via Paypal or gift vouchers, including Amazon and other vouchers .</p>
				<p>Our surveys  campaigns are interesting short in length , fun to do and can be taken on mobile as well as on other devices on the move, or at home on your desktop. We give maximum offers in a day to earn you hassle free income.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
